.root {
	padding: 1.5rem;

	.posts {
		display: grid;
		gap: 4px;
		.post {
			background: hsl(240 5.88% 10%);
			display: flex;
			flex-direction: column;
			border-radius: 14px;

			&.masonry {
				background: hsl(240 5.88% 10%);
			}

			&.grid {
				background: hsl(240, 89%, 50%);
			}

			.postBlock {
				display: flex;
				flex-direction: column;
				padding: 0.75rem;
				border-bottom: 1px solid hsl(0 0% 100%);
				color: #fff;

				&:nth-last-child(1) {
					border-bottom: none;
				}
			}
		}
	}
}
